<h1><%= @user.email %></h1>
<h3>Current Balance: <%= number_to_currency(@user.balance) %></h3>

<p><%= form_tag("search", method: "get") do %>
  <%= label_tag(:bet_search, "Search Bets:") %>
  <%= text_field_tag(:bet_search) %>
  <%= submit_tag("Search", class: "btn btn-default")%>
<% end %></p>


<% unless @searched_bets.nil? %>
<%= render 'bets/shared/index', bets: @searched_bets, title: "Search Results", is_acceptable: true %>
<% end %>


<% unless @user.bets.empty? %>
<%= render 'bets/shared/index', bets: @user.bets, title: "Your Bets", is_acceptable: false %>
<% end %>


<%= render 'bets/shared/index', bets: @recent_bets, title: "Recently Proposed Bets", is_acceptable: true %>

<%= render partial: 'bets/shared/new' %>
