<h1><%= @user.email %></h1>

<%= render partial: 'bets/shared/new' %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Your Bets</div>

  <table class="table">
    <thead>
      <td>Title</td>
      <td>Premise</td>
      <td>Amount</td>
    </thead>
    <tbody>
      <% @user.bets.each do | bet | %>
      <tr>
        <td><%= bet.title %></td>
        <td><%= bet.premise %></td>
        <td><%= bet.amount %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Recently Proposed Bets</div>

  <table class="table">
    <thead>
      <td>Title</td>
      <td>Premise</td>
      <td>Amount</td>
    </thead>
    <tbody>
      <% Bet.order("updated_at").limit(20).each do | bet | %>
      <tr>
        <td><%= bet.title %></td>
        <td><%= bet.premise %></td>
        <td><%= bet.amount %></td>
        <td><%= link_to "Accept Bet", "user_bets/#{bet.id}", method: "POST"%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>