<div class="panel panel-primary">
  <div class="panel-heading">Propose A Bet</div>

  <%= form_for @bet do | f | %>

  <div class="input-group">
    <%= f.label :title, class: "input-group-addon" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="input-group">
    <%= f.label :premise, class: "input-group-addon"  %>
    <%= f.text_field :premise, class: "form-control"  %>
  </div>

  <div class="input-group">
    <%= f.label :amount, class: "input-group-addon"  %>
    <%= f.text_field :amount, class: "form-control"  %>
  </div>

  <%= f.submit class: "btn btn-default"%>
  <% end %>
</div>